<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4 tc">
			<p class="f6 ttu lh-title grey-2 tc mb2">CREDITS</p>
			<p>Sora Han, Author</p>
			<p>Wellington Bowler, Creative Director</p>
			<p>Sharif Ezzat, Designer &amp; Developer</p>
			<p>Greg Reeves, Audio Engineer</p>
			<hr />
			<p class="f6 grey-2">The author would also like to thank artist, lauren woods, and curator, Kimberly Meyer, for the invitation to participate in <em>American Monument</em>, and sharing the audio files used to compose the sound loops for this website. </p>
		</div>

		
	</div>

</footer>

{{ partial "svg" . }}

<script src="/scrollto.js"></script>

<script type="text/javascript">
	$( document ).ready(function() {
	  // setup audio
	  introBg = new Howl({
	    src: ['/audio/intro.mp3'],
	    autoplay: false,
	    loop: true,
	    volume: 0.5,
	    onend: function() {
	      //console.log('Finished!');
	    }
	  });
	  oneBg = new Howl({
	    src: ['/audio/part1.mp3'],
	    autoplay: false,
	    loop: true,
	    volume: 0.5,
	    onend: function() {
	      //console.log('Finished!');
	    }
	  });
	  twoBg = new Howl({
	    src: ['/audio/part2.mp3'],
	    autoplay: false,
	    loop: true,
	    volume: 0.5,
	    onend: function() {
	      //console.log('Finished!');
	    }
	  });
	  threeBg = new Howl({
	    src: ['/audio/part3.mp3'],
	    autoplay: false,
	    loop: true,
	    volume: 0.5,
	    onend: function() {
	      //console.log('Finished!');
	    }
	  });
	  fourBg = new Howl({
	    src: ['/audio/part4.mp3'],
	    autoplay: false,
	    loop: true,
	    volume: 0.5,
	    onend: function() {
	      //console.log('Finished!');
	    }
	  });
	  fiveBg = new Howl({
	    src: ['/audio/part5.mp3'],
	    autoplay: false,
	    loop: true,
	    volume: 0.5,
	    onend: function() {
	      //console.log('Finished!');
	    }
	  });
	  sixBg = new Howl({
	    src: ['/audio/part6.mp3'],
	    autoplay: false,
	    loop: true,
	    volume: 0.5,
	    onend: function() {
	      //console.log('Finished!');
	    }
	  });
	  sevenBg = new Howl({
	    src: ['/audio/part7.mp3'],
	    autoplay: false,
	    loop: true,
	    volume: 0.5,
	    onend: function() {
	      //console.log('Finished!');
	    }
	  });
	});
</script>
