<div class="pv4 mt5">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Introduction</h2>

		<p>Citizen, dashcam and bodycam recordings of police brutality and lethal use of force comprise a new media terrain of state violence.  According to one commentator (Burr 2015), the cell-phone recording of the shooting of Walter Scott in 2015 more specifically revealed the order of this visual terrain as a “cinema of evidence.”  That same year, the dashcam of Sandra Bland’s arrest circulated when she was found dead in a Waller County jail cell three days after being taken into custody. Can the recording, and the historical record of, the violent enforcement of law against black life ever be self-evidently the result of some sort of breach of duty that the law should recognize and remedy?</p>

		<p>Recordings like these are destined for use and consumption by publics, journalists, and legal actors such as prosecutors, police administration, juries and activists in an investigation and, maybe, eventually, a civil or criminal trial. Political organizing, public investigations and criminal and civil adjudication all endow these recordings with evidentiary meaning. And especially in the court of public opinion, they self-evidently signify the irremediable breach that the history of slavery is in U.S. society.</p>

	</div>
</div>
