<div class="pv4 mt5">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Introduction</h2>

		<p>Citizen, dashcam and bodycam recordings of police brutality and lethal use of force comprise a new media terrain of state violence. In 2015, a bystander recorded a police officer gun down  Walter Scott. That same year, a patrol car dashcam and body microphone recorded a state trooper arrest Sandra Bland. She was found dead in a Waller County jail cell three days after being taken into custody.</p>

		<p>Recordings like these are destined for use and consumption by publics, journalists, and legal actors such as prosecutors, police administration, juries and activists in an investigation and, maybe, eventually, a civil or criminal trial. Political organizing, public investigations and criminal and civil adjudication all endow these recordings with evidentiary meaning. And especially in the court of public opinion, they self-evidently signify the irremediable breach that the history of slavery is in U.S. society.</p>

		<p>This essay explores the historical record of the violent enforcement of law against black life, beyond the self-evident nature of what these recordings legally prove. It dwells in “the ongoing destruction of the ongoing production of (a) (black) performance, which is what I am, which is what you are or could be if you can listen while you look.”<sup>1</sup></p>

	</div>
</div>
