<div id="front" class="pv5 pv6-l ph3 bg-center" style="height: 100vh; width:  100vw;">
  <div class="mw7 center ph3">
    <div class="db mb3 tc">
      <div class="mw7 relative mb3">
        <h1 class="f2 f1-l di lh-title mb3 white mw6">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative">
        <p class="f4 di mb2 white mw6">
          {{.subtitle}}
        </p>
      </div>
      <div class="mw7 relative mt3">
        <p class="f6 di ttu mb3 grey-2 mw6" style="letter-spacing: 0.05rem;">
          {{.desc}}
        </p>
        <p class="center pa5"><a href="#intro" onclick="javascript:enableScroll();" class="btn pa3 no-underline db">BEGIN</a></p>
        <p class="f6 di mb3 grey-2 mw6">
          {{.blurb}}
        </p>
      </div>
    </div>
  </div>
</div>
