<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey w-100 absolute fixed">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none no-underline">
		<h3 class="f4 f3-ns nowrap grey-3">Res Nullius Loquitur</h3>
	</a>

	<!-- Primary Nav -->
	<ul class="flex grey-3">
		<li><a href="#intro" class="pa3 no-underline db">Introduction</a></li>

		<li><a href="#one" class="pa3 no-underline db">Part I</a></li>

		<li><a href="#two" class="pa3 no-underline db">Part II</a></li>

		<li><a href="#three" class="pa3 no-underline db">Part III</a></li>
	</ul>

</nav>
