<div class="pv4 mt5">
	<div class="ph3 mw7 center">
		<p class="f6 lh-title mb0 ttu">Part IV</p>
		<h2 class="f2 b lh-title mb3">Supercessive blackness</h2>

		<p>Bland’s voice message repeats a confusion about how things “turned into all this.”</p>

		<p>And it breathes a fogginess over O’Connor’s discovery of an endless source within legal reason to reverse the question of causation. Constitute and define black subjectivity as self-induced risk, as willed exposure, and the law will always be able to offer justification for use of lethal force. It doesn’t matter what kind of evidence is collected to argue a civil rights violation because judgement is no longer the aim. The aim, instead, is the business of extracting this curious raw material O’Connor described as “the distinctive manner in which the suspect’s interest in his life is even exposed to risk” (<em>Garner</em> 1985, 1710).</p>

		<p>2016. <em>Johnson v. City of Philadelphia</em>. The Third Circuit Court of Appeals decided that a police officer was not civilly liable for violating Kenyado Newsuan’s Fourth Amendment right if there was a “superseding cause” (2016: 351) because it breaks the chain of “proximate causation” (2016: 352) between the officer’s conduct and the suspect’s death.</p>

		<p>“Superseding cause” is the way the law looks at black life as supernatural, and as such, black life itself can always offer either a naturalized or privatized explanation for killing a black person, no matter who pulled the trigger.</p>

		<p>Fourth Amendment jurisprudence is a form of manifest destiny, turning black life into black selfhood. It is a colonization of life which regards the mere condition of living as supercessive cause for using lethal force.  With law, we are in the morass of how blackness matters grammatically. The grammar of legal sentencing structures life leading up to the fatal moment adjectivally, and so life can be read against the very constitutional claims made on behalf of victims of state violence. Supersession, supplantation, displacement, replacement become the technê of O’Connor’s Fourth Amendment discovery.</p>

		<p>Life as an ontological assumption is grammatically displaced – from an <em>unconditional interest in life</em> to a <em>willfully exposed self</em> – and the dead become the cause of dying.</p>

		<p>Death, then, becomes self-defeating evidence because black selfhood <em>substitutes</em> in for any other cause of death, including the fact that someone else, a state agent, pulled the trigger on their gun. Blackness appears in law as a form of living that has a supersessive relation to seeking a remedy for death.</p>

		<p>The question-that-is-not-a-question immanent to law, as well as the sentence as a grammatical technology that positions the dead as cause of death are aesthetic performances of the law’s engagement with a “totality of circumstances”. Totality in the end, is constructed through determinations of facts from various forms of documented evidence, as well as aesthetic determinations of black selfhood. The totality of law’s performative dimension spans O’Connor’s surveillance of the “distinctive manner” of black life, the diffusion of this gaze through tort law’s of causation, and the police officer who killed Alton Sterling, Blane Salamoni’s bullets and words “stupid motherfucker”. *</p>

		<p>J.L. Austin could only unconscious register the murderousness of speech when discussing the “perlocutionary act…[for which] There is no restriction to the minimum physical act at all” (Austin 107). Perlocutionary acts include the excesses, mistakes, “misfires” as Austin puts it, and some field of unintended effects of speech on an interlocutor.  In an amazing footnote on page 113, Austin invokes the principle of <em>in pari materia</em>, meaning ‘of the same matter’ or ‘on the same subject’, used in statutory interpretation to require that when you have two laws that refer to the same matter, they must be analyzed together. Austin regards linguistic and physical causation as <em>in pari materia</em>, and refers to a finger on the trigger of a gun to suggest that speech and physics share the same question of causation as <em>influence</em>.</p>

		<p>We are always in this lethal perlocutionary sphere of influence. And this “performative [perlocutionary] utterance is an offer [or order] of participation in the order of law,” as Stanley Cavell writes in <em>Philosophy the Day After Tomorrow (18)</em>.</p> 

		<p>But Cavell goes on, “A passionate utterance is an invitation to improvisation in the disorders of desire.”</p>

		<p>Listening while we look at the law looking at itself: we hear the ongoingness of an ongoing exposure to “(a) (black) performance”, to some “passionate utterance” that is the condition of possibility for the very task of judgment and sentencing.</p>

		<p>Bewilderment is the only passion capable of inviting the disorders of desire in this extractive legal landscape. Bland tells us this much: living is a superseding cause that defeats the ability to construct a proximate chain of causation from racial profiling, to arrest, to detention, and finally, to her death.</p>

	</div>
</div>
