<div class="pv4 mt5">
	<div class="ph3 mw7 center">
		<p class="f6 lh-title mb0 ttu hideme">Part VII</p>
		<h2 class="f2 b lh-title mb3 hideme">Apophatic murmur</h2>

		<p class="hideme">Bland leaves us haunting evidence of some other law against the law’s rules of supersecessive blackness. In a description of the cell where Bland was found dead, the state’s investigation includes an arresting citation of what might have been the last words she read.</p>

<p class="hideme"><blockquote>The shelf/table attached to the south wall and to the west of this bunk contained two books, one titled ‘101 Ways to Find God’s Purpose in Your Life’ and the other was titled ‘God’s Word’, or a Bible. The Bible was opened to pages 428-429, Psalms 119-122. Investigator PARINELLO informed Ranger ELLISON that he had already moved the two books while looking for any handwritten notes left by BLAND. The Bible had been found open on the aforementioned pages and the other book was closed. (Shane Ellison, Texas Rangers Report of Investigation, approved 8/11/2017, p. 6, my emphasis).</blockquote></p>

<p class="hideme">Of the psalms referenced in the investigator’s report, Psalm 119 is one of the longest chapters in the Bible. It is distinctive, as well, as an acrostic poem in which each section begins with a letter of the Hebrew alphabet, starting with <em>aleph</em> and ending with <em>tau</em>. Psalm 119 is a prayer dedicated to the Torah or written word of God, and even, the sacredness of God’s name, Yahweh, written but never uttered. And although the “God’s Word” version of the Bible Bland had access to in her cell is far removed from the Hebrew Bible, our attention is drawn by this physical evidence to another realm of knowing, equally if differently, tied to the question of submission, compliance and obedience to authority through writing, the word, and the status of the letter. While “God’s Word” in Psalm 119 is the object of devotion, it is through learning the letters of the alphabet that the name of God, YHWH, can be known.</p>

<p class="hideme">The Psalms as song or liturgy is inseparable from the ritual context of the book. But it points not to some divine law, but a fabricated, performed, shown <em>doing</em> in response to Bland’s question about how “failing to signal turned into all this.” This doing, a <em>loquitur</em>, in and by the evidence, emerges from a <em>res nullius</em>, a non-self, for we ultimately do not know who opened the book, and by whom or whether it was read at all, except by those following this signifying chain. </p>

<p class="hideme"><em>Res nullius</em>, unhived, traceless never-leaving, anatta, apophatic thing.</p>

<p class="hideme">Psalm, song, law, <em>loquitur</em>: texts to be nonsilently read and aurally interpreted. </p>

<p class="hideme"><em>Murmur</em> is the English word Robert Alter uses to translate from the Hebrew word <em>hagah</em>, which means, “to make a low muttering sounds, which is what one does with a text in a culture where there is no silent reading.” The trail of evidence Bland left not only specific Psalms, but taught us how important it is to listen for this murmuring. Psalms 2 introduces the subject of the Psalmist as “But the Lord’s teaching is his desire; / and His teaching he murmurs day and night” (Alter 3). </p>

<p class="hideme">It vocalizes a teaching, and so desire: across written Hebrew poetry, cultic temple chanting, and enacting a concrete, libidinal mode of “rebellion” (Alter <em>xxxii</em>) and “rescue” in “the here and now” (Alter <em>xxxiii</em>) of the physical world. </p>

<p class="hideme">The aurality of these evidence deliver a poetic experience of supplication. They formally effect, through familiar and traditional imagery and language, the extremities of legal reason and enforcement endured counter-mythologically (Carter). </p>

<p class="hideme">Lyric-like, aural evidence murmurs that which cannot be directly said or thought. And whatever your listening catches concretizes something more real in the evidence than what self-evident judgement can ever know. </p>

<p class="hideme">Murmuring itself, <em>res nullius loquitur</em>, is the essence of our desire within law. </p>

<p class="hideme">Bland murmurance loops and surrounds. </p>

	</div>
</div>
