<div class="pv4 mt5">
	<div class="ph3 mw7 center">
		<p class="f6 lh-title mb0 ttu hideme">Part V</p>
		<h2 class="f2 b lh-title mb3 hideme">Law’s barking</h2>

		<p class="hideme">The 2015 <a href="https://cops.usdoj.gov/pdf/taskforce/taskforce_finalreport.pdf" target="_blank">Final Report</a> from President Obama’s Task Force on 21st Century Policing pinpoints the problem of “offensive or harsh language [which] can escalate a minor situation”.<sup>12</sup></p>

		<p class="hideme">But the <a href="https://www.wsj.com/video/full-sandra-bland-arrest-video/824DEC23-4137-453B-83AC-0AC636C91683.html" target="_blank">recording of Bland’s arrest</a> shows us something much more complex about racial profiling. It requires some moment when black life is ushered out of the frame and into the void.<sup>13</sup> She is out of sight as we hear the officer’s erratic commands, the majority of which are made off screen. It is as if their heaving is what keeps Bland expelled from the visible.</p>

		<div class="mw6 center">
			<div class="pv3 hideme flex">
				<img src="/img/video-sandrabland.jpg" class="w-100 mb0 pb0 pv0" />
				<span class="ma0 pa0 di">&nbsp;<sup>14</sup></span>
			</div>
		</div>

		<p class="hideme">The actuality of policing takes place outside any given frame, and its authority essentially depends on the irreducibility of the voice of law to social space. We <em>see</em> racial profiling in the stillness of the visual scene, but the closeness of the audio takes us outside of the frame with a certain fantasia of the law’s relentless barking. The immediate distress produced by this evidence is precisely the feeling of needing it to shut up.</p>

		
		<p class="hideme">Here is where law’s jurisdiction transcends the territoriality of perception and becomes pure diction in the two words “stop” and “it”, over and over again.</p>

		<p class="hideme">Diction emphasizes the dependence of legal meaning on voice, such that law and voice become one and the same, <em>juris/diction</em>. And the geoAVspatial positioning of enforcement indexes the not-yet and never-to-be compliant.</p>

	</div>
</div>
