<div class="pv4 mt5">
	<div class="ph3 mw7 center">
		<p class="f6 lh-title mb0 ttu hideme sofia">Part VI</p>
		<h2 class="f2 b lh-title mb3 hideme">Index, Chain, Score</h2>

		<p class="hideme">The performance of <em>juris/diction</em> reverberates beyond what is doctrinally comprehensible under the classic common law principle, <em>res ipsa loquitur</em>.</p>

		<p class="hideme">Translated from the Latin as “the thing speaks for itself,” the Third Restatement of Torts defines the principle as “circumstantial evidence of a quite distinctive form” that can be used when there is no direct and specific evidence that a defendant’s negligent act caused the injury at issue before a court. Circumstantiality and generality are usually insufficient modes of evidence to transform social reality into a legally actionable claim for specific injuries. However, <em>res ipsa loquitur</em> allows a type of general harm into the law’s always limited jurisdiction.</p>

		<p class="hideme"><em>Res ipsa loquitur</em> as a rule of evidence, and tort law’s design to remedy harms resulting from negligence, come together to provide a powerful portal for examining how and why the loss of black life is not a harm that “speaks for itself.”</p>

		<p class="hideme">If the evidentiary exhibition of lethal arrest documents black life as the only form of life which can be both cause and effect of its own demise, then <em>res nulla loquitur</em> is the principle unifying every necessary denegation we find with each turn of doctrinal analysis and rhetorical performance of fact and rule.</p> 

		<p class="hideme">“The thing speaks for nobody,” or “nobody’s thing speaks,” <em>res nulla loquitur</em> registers a synesthesia of violence that cannot ever be completely and finally ordered even into the logic of <em>res ipsa loquitur</em>.</p>

		<p class="hideme"><em>Res nulla loquitur</em> is a rule of evidence that calls not for legal remedy, but for some other law beyond the force of law and grammar. It is the law of that which will always have been annulled of any reference to a or some self that could come before the law.</p>

		<p class="hideme">Against the clarity and conviction that harm calls for remedy, <em>res nulla loquitur</em> is to enter the foggy place of evidentiary interpretation requiring a different forum of hearing. Here, we encounter a formally, if bizarrely, encoded audio-nomos across a profoundly overdetermined, perjurious terrain where lethal arrest that will have been caused by life always, self-evidently, exposed, and thus, life with no self.</p>

		<p class="hideme">The thing speaks…And when it does, hearing with bleary-eyed clarity, blackness unseats the self-evident in and of every recourse to the copular verb “to be.” With Bland’s question, “how did failing to signal turn into all this?” we look over the precipice of self-evidentiary rhetorics wherever we find them and tumble down so many signifying chains of justice.</p>

		<p class="hideme">What we look at here, while listening, is the “Index of Counts” that opens the <a href="https://www.clearinghouse.net/chDocs/public/JC-TX-0025-0003.pdf" target="_blank">3rd Amended Complaint</a> filed by Sandra Bland’s mother, Geneva Reed-Veal.</p>

		<ul>
		<li>Count I - Brian Encinia – 42 U.S.C. § 1983 Claim </li>
		<li style="opacity:0.96;">Count II - Elsa Magnus – 42 U.S.C. § 1983 Claim </li>
		<li style="opacity:0.92;">Count III - Elsa Magnus – Negligence Claim</li>
		<li style="opacity:0.88;">Count IV - Oscar Prudente - 42 U.S.C. § 1983 Claim </li>
		<li style="opacity:0.84;">Count V - Oscar Prudente – Negligence Claim </li>
		<li style="opacity:0.80;">Count VI- Waller County – Negligence Claim </li>
		<li style="opacity:0.76;">Count VII – Waller County - §1983 and 1988/Monnell [sic] Policy Claim </li>
		<li style="opacity:0.72;">Count XVIII - Rafael Zuniga – 42 U.S.C. § 1983</li>
		<li style="opacity:0.68;">Count IX – Rafael Zuniga – Negligence Claim </li>
		<li style="opacity:0.64;">Count X - Michael Sergis – 42 U.S.C. § 1983</li>
		<li style="opacity:0.60;">Count XI – Michael Sergis – Negligence Claim</li>
		<li style="opacity:0.56;">Count XII – Dormic Smith – 42 U.S.C. § 1983</li>
		<li style="opacity:0.52;">Count XIII – Dormic Smith – Negligence Claim</li>
		<li style="opacity:0.48;">Count XIV - Cynthia Whidden – 42 U.S.C. § 1983</li>
		<li style="opacity:0.44;">Count XV – Cynthia Whidden – Negligence Claim</li>
		<li style="opacity:0.40;">Count XVI - Marc Langdon – 42 U.S.C. § 1983</li>
		<li style="opacity:0.36;">Count XVII – Marc Langdon – Negligence Claim</li>
		<li style="opacity:0.32;">Count XVIII - Lt. Sherry Rochen – 42 U.S.C. § 1983</li>
		<li style="opacity:0.28;">Count XIX – Lt. Sherry Rochen – Negligence Claim</li>
		<li style="opacity:0.24;">Count XX - Asst. Chief Lanny Thibodeaux – 42 U.S.C. § 1983 </li>
		<li style="opacity:0.20;">Count XXI – Asst. Chief Lanny Thibodeaux – Negligence Claim </li>
		<li style="opacity:0.16;">Count XXII - Matthew Mills – 42 U.S.C. § 1983 </li>
		<li style="opacity:0.12;">Count XXIII – Matthew Mills – Negligence Claim </li>
		<li style="opacity:0.08;">Count XXIV – Marianne Williams – 42 U.S.C. § 1983 </li>
		<li style="opacity:0.04;">Count XXV – Marianne Williams – Negligence Claim </li>
		<li style="opacity:0.03;">Count XXVI – Randy Lewis – 42 U.S.C. § 1983 </li>
		<li style="opacity:0.02;">Count XXVII – Randy Lewis – Negligence Claim</li>
		</ul>

		<p class="hideme">Read, while listening, this chain of civil causes of action.</p>

		<p class="hideme"><a href="https://www.law.cornell.edu/uscode/text/42/1983" target="_blank">42 U.S.C. § 1983</a> defines the elements of what constitutes a “civil action for deprivation of rights”.</p>

		<p class="hideme">Black’s Law Dictionary defines <a href="https://thelawdictionary.org/negligence/" target="_blank"><em>negligence</em></a> as “the omission to do something which a reasonable man, guided by those considerations which ordinarily regulate the conduct of human affairs, would do. Or doing something which a prudent and reasonable man would nor do.”</p>

		<p class="hideme">Interpret, while listening, the rhythm of a score representing both the overtone of deprivation and an undertone of failed care.</p>

		<p class="hideme">Bland’s mother’s signifying chain of justice links tort law’s realm of social negligence with the world of constitutional rights. Tort law scores the insufficiency of civil rights remedies with the force of a heteroglossia of social interests drawn into articulating “negligence,” or the failure to exercise a reasonable expectation of care.</p>

		<p class="hideme">Index, chain, score.</p> 

		<p class="hideme"><em>Res nulla loquitur</em> articulates a <a href="https://supreme.justia.com/cases/federal/us/436/658/" class="i" target="_blank">Monell</a> formula of abolitionist civil rights law that retreats from the very idea and constitution of municipal safety. This formula accepts that both direct and circumstantial evidence of lethal use of force will not deliver justice. Instead, it symbolizes an evacuated <em>ipsa</em>, on behalf of which such evidence is thought to speak, and continually interprets to the brink, that which evidence cannot bear. It allows us a way to remember that whatever is or seems self-evident is precisely not where we should pay our attention.</p>
	</div>
</div>
