<div class="pv4 mt5">
	<div class="ph3 mw7 center mb5">
		<p class="f6 lh-title mb0 ttu hideme">Part I</p>
		<h2 class="f2 b lh-title mb3 hideme">Res Nullius Loquitur</h2>

		<p class="hideme">Holding this hearing is all there is. Endless <em>legis</em>, never arriving at an act. Legislation is forever deferred because the <em>whereas</em> repeats, never to address the question of Bland’s “here”.</p>

		<p class="hideme">Hearing is, <em>eres</em>, are, our: a litany of whereas’s deferring enactment, the preamble of the never-to-be ratified <a href="https://www.congress.gov/bill/117th-congress/house-bill/1280" target="_blank">George Floyd Justice in Policing Act</a>.</p>

		<p class="hideme">There are no acts for these recordings. Figures stream. Uncut, medial proximity reveals an unlit gap. From this ledge, we jump into a virtual intimacy. “<a href="https://www.nytimes.com/2021/03/29/us/chauvin-trial-george-floyd.html" target="_blank">Believe your eyes</a>,” see only what you first saw, even if what was first was always, sur-repetitiously, <em>in media res</em>, being recorded, recording (for) conviction.</p>

		<p class="hideme">I went to <a href="https://americanmonument.blog/" target="_blank" class="i">American Monument</a>, and played some records. Its mo(nu)mentum threw every one, thing, note off. The point of the needle, drawing a centripetally gathering line, bumped along toward some non-distant, non-immediate, non-placeable center of a record so slick its grooves play a music we don’t know we hear until we do.</p>

		<p class="hideme">Eighteen arms, dragging, circumlocuted an offering that became these loops.</p>

		<p class="hideme">They played: “But I’m still here…” looking at these renditions of enforcement.</p>

		<p class="hideme">“So call me back” using these destroyed conditions of performativity, with the rubble left in the wake of these regimes of self and evidence.</p>

		<p class="hideme">Make something when the swarm of words, letters, sounds, the flock of bodies and papers, the flight of sense and thought, start to land and hover where they will.</p>

		<p class="hideme">Sign this nonperforming will. Listening while looking at: everyone looking, some self looking while reading, a non-self looking while writing. Place this desire.</p>

		<p class="hideme">Inconsist by making whatever self a place of hearing. Wait. Hear, a ringing ringing. Truth floats up from the murmur of history.</p>

		<p class="hideme">Out above the murs of law and justice, this ringing drafts on, in the slipstream of the unconscious. Submit to (a)murs, Lacan says.<sup>2</sup></p>

		<p class="hideme">Pluck these radioscopic bits from the air, and throw them back at the mighty law, whose bulldozing, wordsmithing, incontrovertible scribe leaves nothing to be asked, and nothing to be argued. They mark a Real no-thing, a rebellion of ten thousand mouths filling the <em>mis-n’en-scene</em><sup>3</sup> of law with alyrical notes.</p>

		<p class="hideme"><em>Res nullius loquitur</em>: it is a written aside, as a procedural oversight, on the law’s underside, that proves the inkblock always runs black.</p>

		<p class="hideme">A trace breath is left in the running line. Even its end, its disappearance in its own finite fluidity, is part of this trace.</p>

		<p class="hideme">Ends do not justify origins, and so for any origin to be just, they must hear a mysticism in and against the mythical origins of law. Hear until the non-scene of mythical origin overtakes the not-enough of law’s origin. Until the lids of the eyes sound words, and the lips of the mouth visualize objects. Until those mystical non(self)substantiating presences become more real than any mythological narrative or legal reform could ever promise to become.</p>

		<p class="hideme">Listen, like a transubstantial realist, to that <em>Zong!</em>, song, psalm thing.<sup>4</sup></p>

		<p class="hideme"><em>Res nullius loquitur</em>.</p>

		<div id="one-end" class="pv5"></div>

	</div>
</div>
