<div class="pv4 mt5">
	<div class="ph3 mw7 center grey-3">
		<p class="f6 lh-title mb0 ttu hideme">Part V</p>
		<h2 class="f2 b lh-title mb3 hideme">Law’s barking</h2>

		<p class="hideme">The dashcam recording of Sandra Bland’s arrest shows us that racial profiling requires some moment when black life is ushered out of the frame and into the void (9:05). She is out of sight as we hear the officer’s erratic commands, the majority of which are made off screen. It is as if their heaving is what keeps Bland expelled from the visible.</p>

		<p class="hideme">What the 2015 <em>Final Report of the President’s Task Force on 21st Century Policing</em> pinpoints as the problem of “offensive or harsh language [which] can escalate a minor situation” (2015: 45) takes place here in a flat-lining of the visual and the warped sounds of the police-citizen antagonism. We see racial profiling only insofar as the stillness of the visual and the closeness of the audio takes us, too, outside of the frame with a certain fantasia of the law’s relentless barking. The immediate distress produced by this evidence is precisely the feeling of needing it to shut up.</p>

		<p class="hideme">The actuality of policing takes place outside any given frame, and its authority essentially depends on the irreducibility of the voice of law to social space.</p>

		<p class="hideme">Indeed, as if to hit us over the head with this latent insight of the aurality of this evidence, during the later 5 minutes of Encinia’s off-screen attempt to arrest Bland, both make brief appearance in the frame. Bland enters our vision for three seconds to put her cell phone on her car, while Encinia circles around her, continuing to issue commands (9:18-9:50). While Bland walks out of the frame again, Encinia stops walking right as his face touches the border of the frame.</p>

		<!-- <img src="/img/icon.svg" class="w-100 hideme" /> -->

		<p class="hideme">The geoAVspatial positioning of enforcement indexes the not-yet and never-to-be compliant. Here is where law’s jurisdiction transcends the territoriality of perception and becomes pure diction in uttering the two words, “stop” and “it”, over and over again.</p>

		<p class="hideme">Diction emphasizes the dependence of legal meaning on voice, such that law and voice become one and the same, <em>juris/diction</em>. And this voice drones on as the words of Fourth Amendment jurisprudence.</p>

	</div>
</div>
