<div class="pv4 mt5">
	<div class="ph3 mw7 center">
		<p class="f6 lh-title mb0 ttu hideme sofia">Part III</p>
		<h2 class="f2 b lh-title mb3 hideme">Questioning the question-that’s-not-a-question</h2>

		<p>The unfortunate nature of this particular case…<br />
		<span class="grey-4 hideme">The unthinkable nature of this particular case…<br />  
		The unthinkable night of this particular case…<br />  
		The unthinkable night of this particular study…<br />  
		The unthinkable night of this precious study…<br /></span>  
		The unthinkable night blanketing this precious study…<br />  
		<br />
		…because the suspected burglar refused to heed this command.<br />  
		<span class="grey-4 hideme">…why the suspected burglar refused to heed this command.<br />  
		…why the running burglar refused to heed this command.<br />  
		…why the running figure refused to heed this command.<br />  
		…why the running figure refused to heed some command.<br /></span>
		…why the running figure quieted to heed some command…<br />  
		<br />
		Where there are rights and a harm committed by a state agent, there are questions the courts must hear, elaborate on and resolve in order to provide remedies.<br />
		<span class="grey-4 hideme">Where there are bodies and a harm committed by a state agent, there are questions the courts must hear, elaborate on and resolve in order to provide remedies.<br />  
		Where there are bodies and a promise committed by a state agent, there are questions the courts must hear, elaborate on and resolve in order to provide remedies.<br />  
		Where there are bodies and a promise broken by a state agent, there are questions the courts must hear, elaborate on and resolve in order to provide remedies.<br />  
		Where there are bodies and a promise broken by a flashy badge, there are questions the courts must hear, elaborate on and resolve in order to provide remedies.<br />  
		Where there are bodies and a promise broken by a flashy badge, there are questions we all hear, elaborate on and resolve in order to provide remedies.<br />  
		Where there are bodies and a promise broken by a flashy badge, there are questions we all hear, elaborating on and resolving in order to provide remedies.<br /></span> 
		Where there are bodies and a promise broken by a flashy badge, there are questions we all hear, elaborating on and resolving in order to provide truth.<br />  
		<br />
		What kind of life is this life?<br />  
		<span class="grey-4 hideme">What form of life is this life?<br />  
		What form of life is that life?<br />  
		What form of sound is that life?<br />  
		What form of sound projects that life?<br /></span>  
		What form as sound projects that life?</p>


		<div id="three-end" class="pv5"></div>

	</div>
</div>
