<div class="pv4 mt5">
	<div class="ph3 mw7 center">
		<p class="f6 lh-title mb0 ttu hideme">Part VI</p>
		<h2 class="f2 b lh-title mb3 hideme">The force of grammar</h2>

		<p class="hideme">Listening while we look at or read the words of Fourth Amendment jurisprudence, there is something more than mere witnessing at stake. We are participating in an unconscious process of how language lays waste to the many different responses we might have to being made to submit to the law.</p>

<p class="hideme">The aurality of evidence strikes us with an immanent isomorphism of blackness between the world of empirical acts and the written metaphysics of legal selfhood. As a signifier of this isomorphic reality, “racial blackness,” writes Jared Sexton, “operates as an asymptotic approximation of that which disturbs every claim or formation of identity and difference as such” (Sexton 2016).</p>

<p class="hideme">In this curious nonplace, thought relates “seeing” (nothing) to “being” (nothing), or “hearing” (something) to “being” (something), neither of which empirically prove whether blackness is nothing or something. The hearable bends the visible and we slide on this strange surface of reality. Afropessimism registers this surface by disturbing the appearance of nothingness as a debt to and of blackness, and thereby, politicizing the grammatical infrastructures of the fantasy of being (a subject defined by presence, historical time, transcendence, and personal meaning). Afropessimism improvisationally elevates of <em>the function of the copula</em>, both to reveal how legal doctrines of selfhood reproduce master signifiers to manage its own anxious authority, and to annihilate this function by using it otherwise.</p>

<p class="hideme">What kind of law would provide a remedy for lethal arrest that will have always been caused by life always, self-evidently, exposed, and thus, life with no self?</p> 

<p class="hideme">The classic common law principle, <em>res ipsa loquitur</em>, translates from the Latin as “the thing speaks for itself.” The Third Restatement of Torts defines it as “circumstantial evidence of a quite distinctive form” that can be used when no there is no direct and specific evidence that a defendant’s negligent act caused the injury at issue before a court. Latent in this Latin phrase is a legal norm that recognizes a type of harm which “speaks for itself”, or is self-evidently the result of someone’s negligent behavior. Circumstantiality and generality are usually insufficient modes of evidence to transform social reality into a legally actionable claim. However, this category of circumstantial evidence in which “the thing speaks for itself” introduces a type of general harm into the law’s always limited jurisdiction to provide remedy only for <em>specific acts</em> and injuries.</p>

<p class="hideme"><em>Res ipsa loquitur</em> as a rule of evidence, and tort law’s design to remedy harms resulting from negligence, come together to provide a powerful portal for examining how and why the loss of black life is not a harm that “speaks for itself.” The performance of juris/diction reverberates beyond what is doctrinally comprehensible under the rule of <em>res ipsa loquitur</em> which presupposes legal selfhood.</p>

<p class="hideme">Black life as nonself within modern law is <em>res nullius loquitur</em>. “The thing speaks for nobody.” Or “nobody’s thing speaks.” <em>Res nullius loquitur</em> is a rule of evidence that calls not for legal remedy, but for some other law beyond the force of law and grammar. It is the law of that which will always have been annulled of any reference to a or some self that could come before the law. *</p>

<p class="hideme">Against the clarity and conviction that harm calls for remedy, <em>res nullius loquitur</em> is to enter the foggy place of evidentiary interpretation introduced by recorded evidence of police violence. Here, we are in the place of a different form of hearing. Hear, too, a formally, if bizarrely, encoded audio-nomos across a profoundly overdetermined, perjurious, evidentiary terrain in which visual images drive public and legal judgment about the problem of racial profiling, police impunity, and legal procedures of prosecuting, convicting and sentencing state agents for civil rights violations.</p>

<p class="hideme"><em>Res nullius loquitur</em> challenges the cultural investment in <em>res ipsa loquitur</em> by centering the unique quality of black life as self-evidence of an essentially nullifying legal personality. The evidentiary exhibition of lethal arrest – in Sandra Bland’s case, in the many recordings of police use of force, in the <em>Garner</em> jurisprudence – documents black life as the only form of life which can be both cause and effect of its own demise. <em>Res nullius loquitur</em> is the principle unifying every necessary denegation we find with each turn of doctrinal analysis and rhetorical performance of judging police judgment. </p>

<p class="hideme">The synesthesia of violence cannot ever be completely and finally ordered into the law’s two dominant evidentiary modes of settling meaning from the social field: 1) of visual images of bodies enacting the scene of law enforcement; and 2) the visual image of written words that record verbal speech. </p>

<p class="hideme">The thing speaks…And when it does, hearing with bleary-eyed clarity, blackness unseats the self-evident in and of every recourse to the copular verb “to be.” With Bland’s question, “how did failing to signal turn into all this?,” we look over the precipice of self-evidentiary rhetorics wherever we find them to tumble down so many signifying chains of justice. </p>

<p class="hideme">What we look at here, while listening, is the “Index of Counts” (pp. 2-3) that opens the complaint filed by Sandra Bland’s mother, Geneva Reed-Veal.</p>

<ul>
<li class="hideme">Count I - Brian Encinia – 42 U.S.C. § 1983 Claim </li>
<li class="hideme">Count II - Elsa Magnus – 42 U.S.C. § 1983 Claim </li>
<li class="hideme">Count III - Elsa Magnus – Negligence Claim</li>
<li class="hideme">Count IV - Oscar Prudente - 42 U.S.C. § 1983 Claim </li>
<li class="hideme">Count V - Oscar Prudente – Negligence Claim </li>
<li class="hideme">Count VI- Waller County – Negligence Claim </li>
<li class="hideme">Count VII – Waller County - §1983 and 1988/Monnell [sic] Policy Claim </li>
<li class="hideme">Count XVIII - Rafael Zuniga – 42 U.S.C. § 1983</li>
<li class="hideme">Count IX – Rafael Zuniga – Negligence Claim </li>
<li class="hideme">Count X - Michael Sergis – 42 U.S.C. § 1983</li>
<li class="hideme">Count XI – Michael Sergis – Negligence Claim</li>
<li class="hideme">Count XII – Dormic Smith – 42 U.S.C. § 1983</li>
<li class="hideme">Count XIII – Dormic Smith – Negligence Claim</li>
<li class="hideme">Count XIV - Cynthia Whidden – 42 U.S.C. § 1983</li>
<li class="hideme">Count XV – Cynthia Whidden – Negligence Claim</li>
<li class="hideme">Count XVI - Marc Langdon – 42 U.S.C. § 1983</li>
<li class="hideme">Count XVII – Marc Langdon – Negligence Claim</li>
<li class="hideme">Count XVIII - Lt. Sherry Rochen – 42 U.S.C. § 1983</li>
<li class="hideme">Count XIX – Lt. Sherry Rochen – Negligence Claim</li>
<li class="hideme">Count XX - Asst. Chief Lanny Thibodeaux – 42 U.S.C. § 1983 </li>
<li class="hideme">Count XXI – Asst. Chief Lanny Thibodeaux – Negligence Claim </li>
<li class="hideme">Count XXII - Matthew Mills – 42 U.S.C. § 1983 </li>
<li class="hideme">Count XXIII – Matthew Mills – Negligence Claim </li>
<li class="hideme">Count XXIV – Marianne Williams – 42 U.S.C. § 1983 </li>
<li class="hideme">Count XXV – Marianne Williams – Negligence Claim </li>
<li class="hideme">Count XXVI – Randy Lewis – 42 U.S.C. § 1983 </li>
<li class="hideme">Count XXVII – Randy Lewis – Negligence Claim</li>
</ul>

<p class="hideme">Read, while listening, this chain of names linking state agents with civil causes of action. Interpret, while listening, the rhythm of a score representing both the overtone of deprivation (42 U.S.C. § 1983 defines the elements of what constitutes a “civil action for deprivation of rights”) and an undertone of failed care.</p>

<p>Black’s Law Dictionary defines <em>negligence</em> as “the omission to do something which a reasonable man, gu class="hideme"ided by those considerations which ordinarily regulate the conduct of human affairs, would do. Or doing something which a prudent and reasonable man would nor do.” Bland’s mother’s signifying chain of justice links tort law’s realm of social negligence with the world of Section 1983 claims. And tort law scores the insufficiency of civil rights remedies with the force of the plurality of social interests drawn into articulating “negligence,” or the failure to exercise a reasonable expectation of care. </p>

<p class="hideme">Index, chain, score. We can call this the Monell formula of abolitionist civil rights law. This formula accepts that both direct and circumstantial evidence of lethal use of force will not deliver justice. Instead, it symbolizes the reality of the evacuated “self”, the ipsa, on behalf of which such evidence is thought to speak, and continually interprets to the brink, that which evidence cannot bear. It allows us a way to remember that whatever is or seems self-evident is precisely not where we should pay our attention.</p>

	</div>
</div>
