<div class="pv4 mt5">
	<div class="ph3 mw7 center">
		<p class="f6 lh-title mb0 ttu hideme">Part IV</p>
		<h2 class="f2 b lh-title mb3 hideme">Supercessive blackness</h2>

		<p class="hideme">1986: <em>Tennessee v. Garner</em>. The sentence is a grammatical technology that positions the dead as cause of death. It is an aesthetic performance of the law’s engagement with a “totality of circumstances."<sup>6</sup> Totality, by the end of the sentence, is constructed through determinations of facts from various forms of documented evidence colored by a more fundamental question about how the law is to regard black life.</p>

		<p class="hideme">Protocols of determining what Justice O’Connor refers to as the “distinctive manner” of black life, and the police officer Blane Salamoni’s bullets and words, “stupid motherfucker,” meet in the totality of law’s performative dimension.</p>

		<p class="hideme">O’Connor has Alton Sterling’s blood on her rationalizing hands, which discovered an endless source within legal reason to reverse the question of causation. Constitute and define black subjectivity as self-induced risk, as willed exposure, and the law will always be able to offer justification for use of lethal force. It doesn’t matter what kind of evidence is collected to argue a civil rights violation because judgement is no longer the aim. The aim, instead, is the business of extracting this curious raw material O’Connor described as “life…exposed to risk”.<sup>7</sup></p>

		<p class="hideme">Fourth Amendment jurisprudence is a form of manifest destiny, turning black life into black selfhood. It is a colonization of life which regards the mere condition of living as supercessive cause for using lethal force.</p>

		<p class="hideme">With law, we are in the morass of how blackness matters grammatically. The grammar of legal sentencing structures life leading up to the fatal moment adjectivally so life can be read against the very constitutional claims made on behalf of victims of state violence.</p>

		<p>Supersession, supplantation, displacement, replacement become the <em>technê</em> of O’Connor’s Fourth Amendment discovery.</p>

		<p class="hideme">2016. <em>Johnson v. City of Philadelphia</em>. The Third Circuit Court of Appeals decided that a police officer was not civilly liable for violating Kenyado Newsuan’s Fourth Amendment right if there was a “superseding cause” that broke the chain of “proximate causation”<sup>8</sup> between the officer’s conduct and the suspect’s death.</p>

		<p class="hideme">“Superseding cause” is the way the law looks at black life as supernatural, and as such, black life itself can always offer either a naturalized or privatized explanation for killing a black person, no matter who pulled the trigger.</p>

		<p class="hideme">Fourth Amendment jurisprudence is a form of manifest destiny, turning black life into black selfhood. It is a colonization of life which regards the mere condition of living as supercessive cause for using lethal force.  With law, we are in the morass of how blackness matters grammatically. The grammar of legal sentencing structures life leading up to the fatal moment adjectivally, and so life can be read against the very constitutional claims made on behalf of victims of state violence. Supersession, supplantation, displacement, replacement become the technê of O’Connor’s Fourth Amendment discovery.</p>

		<p class="hideme">Life as an ontological assumption is grammatically displaced – from an <em>unconditional interest in life</em> to a <em>willfully exposed self</em> – and the dead become the cause of dying.</p>

		<p class="hideme">Death, then, becomes self-defeating evidence because black selfhood <em>substitutes</em> in for any other cause of death, including the fact that someone else, a state agent, pulled the trigger on their gun. Blackness appears in law as a form of living that has a supersessive relation to seeking a remedy for death.</p>

		<p class="hideme">The question-that-is-not-a-question immanent to law, as well as the sentence as a grammatical technology that positions the dead as cause of death are aesthetic performances of the law’s engagement with a “totality of circumstances”. Totality in the end, is constructed through determinations of facts from various forms of documented evidence, as well as aesthetic determinations of black selfhood. The totality of law’s performative dimension spans O’Connor’s surveillance of the “distinctive manner” of black life, the diffusion of this gaze through tort law’s of causation, and the police officer who killed Alton Sterling, Blane Salamoni’s bullets and words “stupid motherfucker.”</p>

		<p class="hideme">J.L. Austin could only unconscious register the murderousness of speech when discussing the “perlocutionary act…[for which] there is no restriction to the minimum physical act at all”.<sup>9</sup> Perlocutionary acts include the excesses, mistakes, “misfires” of speech in a field of unintended effects or influence on an interlocutor.</p>

		<p class="hideme">Referring to a finger on the trigger of a gun to suggest that speech and physics share the same question of causation as <em>influence</em>, Austin remarks that linguistic and physical causation are <em>in pari materia</em>. The principle of <em>in pari materia</em><sup>10</sup>, meaning ‘of the same matter’ or ‘on the same subject’, is used in statutory interpretation to require that when two laws refer to the same matter, they must be analyzed together.</p>

		<p class="hideme">We are always in this lethal perlocutionary sphere of influence.</p> 

		<p class="hideme">Listening while we look at the law looking at itself, we hear the ongoingness of an ongoing exposure to “(a) (black) performance”, to some “passionate utterance”<sup>11</sup> that is the condition of possibility for the very task of judgment and sentencing.</p>

		<p class="hideme">Bewilderment is the only passion capable of inviting the disorders of desire in this extractive legal landscape, where living is a superseding cause that defeats the ability to construct a proximate chain of causation from racial profiling, to arrest, to detention, and finally, death.</p>

		<p class="hideme">There is only Bland’s repeating incomprehension of things “turned into all this.”</p>

	</div>
</div>
