{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "desc" .Params.desc "blurb" .Params.blurb) }}

<div class="y-mandatory">
<div class="mw6 pa3 center cms">
	<div id="intro"></div>
	{{ partial "intro" . }}
	<div id="one" class="snap"></div>
	{{ partial "part-1" . }}
	<div id="two" class="snap"></div>
	{{ partial "part-2" . }}
	<div id="three" class="snap"></div>
	{{ partial "part-3" . }}
</div>
<div class="w-100 center" style="background-image: url('/img/dark-bg.png');">
	<div class="mw6 pa3 center cms">
		<div id="four" class="snap"></div>
		{{ partial "part-4" . }}
	</div>
</div>
<div class="mw6 pa3 center cms">
	<div id="five" class="snap"></div>
	{{ partial "part-5" . }}
	<div id="six" class="snap"></div>
	{{ partial "part-6" . }}
	<div id="seven" class="snap"></div>
	{{ partial "part-7" . }}
</div>

<!-- footnotes -->
<div class="mw6 pa3 center">	
	<hr style="border-top: 1px dotted grey;" />
	<ol class="f6 grey-3">
		<li>1 Fred Moten, <em>In the Break</em> (2003), 20.</li>
		<li>2 Jacques Lacan, <em>Talking to Brick Walls</em> (2017), 98.</li>
		<li>3 Eugenie Brinkema, <em>The Forms of the Affects</em> (2014), 46.</li>
		<li>4 M. NourbeSe Philip, <em>Zong!</em> (2008).</li>
		<li>5 Philip, 50.</li>
		<li>6 <em>Garner</em>, 9.</li>
		<li>7 <em>Garner</em>, 29.</li>
		<li>8 <em>Johnson</em>, 351-2.</li>
		<li>9 J.L. Austin, <em>How to Do Things with Words</em> (1975), 107.</li>
		<li>10 Austin, 113.</li>
		<li>11 Stanley Cavell, <em>Philosophy the Day After Tomorrow</em> (2005), 18.</li>
		<li>12 <em>Final Report</em>, 45.</li>
		<li>13 “Full Sandra Bland Arrest Video,” <em>Wall Street Journal</em> (July 22, 2015), 9:05 min.</li>
		<li>14 Bland arrest video, screen grab at 9:48 min.</li>
		<li>15 Shane Ellison, <em>Texas Rangers Report of Investigation</em>, approved 8/11/2017, p. 6, my emphasis.</li>
		<li>16 Robert Alter, <em>The Book of Psalms: A Translation with Commentary</em> (2007), 3.</li>
		<li>17 Alter, xxxii.</li>
		<li>18 J. Kameron Carter, “Paratheological Blackness,” <em>South Atlantic Quarterly</em> (2013), 594, discussing Hortense Spillers’s “Interstices: A Small Drama of Words”.</li>
	</ol>
	<!-- {{ .Content }} -->
</div>
</div>

{{ end }}
