{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<!-- {{ partial "short-text" .Params.blurb}} -->

<div class="mw6 pa3 center cms">
	<div id="intro"></div>
		{{ partial "intro" . }}
	<div id="one"></div>
		{{ partial "part-1" . }}
	<div class="pv5">
		<img src="/img/icon.svg" class="w-100" />
	</div>
	<div id="two"></div>
		{{ partial "part-2" . }}
	<div id="three"></div>
		{{ partial "part-3" . }}
	

	<!-- {{ .Content }} -->
</div>

{{ end }}
