{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "desc" .Params.desc "blurb" .Params.blurb) }}


<div class="mw6 pa3 center cms">
	<div id="intro"></div>
	{{ partial "intro" . }}
	<div id="one"></div>
	{{ partial "part-1" . }}
	<div id="two"></div>
	{{ partial "part-2" . }}
	<div id="three"></div>
	{{ partial "part-3" . }}
	<div id="four"></div>
	{{ partial "part-4" . }}
</div>
<div class="w-100">
	<div class="pv5 hideme">
		<img src="/img/video-sandrabland.jpg" class="w-100" />
		<div class="tc f6 grey-4 ph2">
			Figure 1. “Full Sandra Bland Arrest Video,” <em>Wall Street Journal</em>, July 22, 2015; screen grab at 9:48 min.
		</div>
	</div>
</div>
<div class="mw6 pa3 center cms">
	<div id="five"></div>
	{{ partial "part-5" . }}
	<div id="six"></div>
	{{ partial "part-6" . }}
	<div id="seven"></div>
	{{ partial "part-7" . }}
	<!-- <div class="pv5">
		<img src="/img/icon.svg" class="w-100" />
	</div> -->
	<!-- {{ .Content }} -->
</div>

{{ end }}
